.master-PUC-container {
  width: 100%;
  height: 870px;
  background-color: #f7f4f2;
}

.PUC-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;  
}

.PUC-title {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-size: 40px;

}

.PUC-icon {
  height: 200px;
}