* {
  background-color: #D8D0C8;
  font-family: 'Archivo Black';
  // overflow-y: hidden;
}

.tileRow {
    margin: 20px -5px;
    display: flex;
    flex-wrap: wrap;
 }

.tileCol {
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 5px;
}

.tripImage {
  width: 100%; 
  height: auto;
}

.tileDetails {
  // position: absolute;
  // right: 50%;
  // left: 50%;
  // bottom: 15%;
  text-align: center;
  margin-top: 10px;
 }

 .buttonAddTrip {
  margin: 100px 5px 5px 20px;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  outline: 1px;
  font-size: 15px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
 }

 .popup, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.buttonClose {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}