$text-Dark: #272624;

body {
  background-color: #D8D0C8;
  max-width: 100%;
  overflow-x: hidden;
}

// display trips as tiles
.tileRow {
    margin: 20px 5px 0 20px;
    display: flex;
    flex-wrap: wrap;
 }

.tileCol {
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 5px 25px;
  margin-left: -10px;
}

.tripImage {
  width: 100%; 
  height: auto;
  max-width: 100%;
  max-height: 300px;
  cursor: pointer;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit:cover;
}

.tripImage:hover {
  transition: 1s;
  opacity: 0.3;
  cursor: pointer;
}

.middle:hover {
  // transition: 1s;
  opacity: 1;
  // cursor: pointer;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.caption {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.tileDetails {
  // right: 50%;
  // left: 50%;
  // bottom: 15%;
  text-align: center;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
 }

 .tileDetails .tripImage {
  // position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

 // button to add trip
 .buttonAddTrip {
  margin: 3rem 5px 5px 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: color 0.3s, transform 0.2s, background-color 0.5s;
  cursor: pointer;
  &:hover {
      color: black;
      background-color: #E1eef2;
      transform:scale(1.1);
  }
  font-family: 'Archivo', sans-serif;
 }

 // CSS for popup
  body.active-popup {
    overflow-y: hidden;
  }
 
 .popup-container, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.popup-content {
  position: absolute;
  // z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  max-height: 420px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  outline: 2px solid #D8D0C8;
  background-color: #F7F4F2;
  border-radius: 3px; 
}

.popup-container {
  z-index: 2;
}

.addTrip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.trip-container, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.trip-content-left-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.trip-content-right-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 95%;
  margin-top: 10px;
  margin-right: 10px;
}

.right-top-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.td-top-container {
  // border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.td-bot-container {
  // border: 1px solid rgb(255, 0, 0);
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.td-bot-inner {
  // width: 30%;
}

.image-upload-choose-file {
}

.trip-details-text-header {
  // font-family: 'Archivo', sans-serif;
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: -1px;
  color: $text-Dark;
}

.image-upload-text-header {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: -1px;
  color: $text-Dark;
}

.trip-details-hr {
  border: 1px solid #d8d0c8;
  width: 90%;
  margin-bottom: 10px;
}

.trip-content {
  position: absolute;
  // z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 95vh;
  min-width: 1200px;
  max-height: 95vh;
  min-height: 75vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
  outline: 2px solid #D8D0C8;
  background-color:#F7F4F2;
  border-radius: 3px; 
  // overflow:scroll;
}

.tripDetails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  font-family: 'Archivo', sans-serif;

}

// button to close popup
.buttonClose {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  padding: 5px 7px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  outline: 1px;
  font-size: 15px;
  border: 1px #d8d0c8 solid;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  z-index: 9;
}

.buttonClose:hover {
  filter: invert(1);
}

.button-container {
  // position: absolute;
  // top: 10%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 5px 7px;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  outline: 1px;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  // display: flex;
  // justify-content: space-between;
  cursor: pointer;
}



#moodboard-container {
  overflow: scroll;
}


.pop-up {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pop-up-overlay {
  background-color: rgba(0, 0, 0, 0.391);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  // z-index: 1;
}

.pop-up-content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected-img-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-img {
  width: 100%;
  border: 2px solid #f7f4f287;
  border-radius: 10px;
}

.pic-btn-container {
  z-index: 5;
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.close-btn {
  z-index: 5;
  margin-left: 5px;
  border: none;
  border-radius: 22px;
  height: 32px;
  width: 32px;
  background-color: rgba(245, 245, 245, 0.798);
}

.close-btn:hover {
  height: 34px;
  width: 34px;
  filter: invert(1);
}

.delete-btn {
  z-index: 5;
  border: none;
  background-color: transparent;
  border-radius: 20px;
}

.trash-icon {
  height: 36px;
  opacity: 84%;
}

.trash-icon:hover {
  height: 40px;
  filter: invert(1);
}
