@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300&family=Roboto:wght@300&display=swap');
$primary-color: #E1eef2;
$secondary-color:#d3e5ea;
$background-color: #fff;


body {
    font-family:'Roboto';
    background-color:$background-color;
    margin:0px;
}

#home {
    background-image: url('./images/background-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .navbar {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            .logo {
              font-family: 'Georgia';
              font-size: 1.5rem;
            }
            .menu {
                a {
                    text-decoration: none;
                    color: black;
                    margin-left: 2rem;
                    &:hover {
                    text-decoration: underline;
                    }
                }
            }
        }
    }
    
    .hero {
        position: relative;
        text-align:center;
        width:100vw;
        height:100vh;
        padding: 0;
        .content {
            position:absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            width:100%;
            h1 {
                font-size: 3.5rem;
                margin-bottom: 1rem;
            }
            
            p {
                font-size: 1.5rem;
                margin-bottom: 2.5rem;
            }
            
            button {
                background-color: black;
                color: $background-color;
                border: none;
                border-radius: 3rem;
                padding: 1rem 2rem;
                font-size: 1rem;
                transition: color 0.3s, transform 0.2s, background-color 0.5s;
                cursor: pointer;
                &:hover {
                    color: black;
                    background-color: white;
                    transform:scale(1.1);
                }
            }
        }
    }
}

#about {
    scroll-behavior:smooth;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem; 

    .image {
        flex: 1; 
        img {
        width: 100%;
        height: auto;
        }
    }

    .content {
        flex: 1;
        h2 {
        margin-top: 0;
        }
    }
}

#signin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 2rem; 
    .form {
      flex: 1;
        h2 {
            margin-bottom: 1rem;
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 10rem;
            align-items:center;
            label {
            margin-bottom: 0.5rem;
            }
    
            input[type="text"],
            input[type="password"] {
                background-color: #eee;
                border: none;
                padding: 12px 15px;
                margin: 8px 0;
                width: 100%;
            }
    
            input[type="submit"] {
                background-color: black;
                color: $background-color;
                border: none;
                border-radius: 3rem;
                padding: 1rem 2rem;
                font-size: 1rem;
                transition: color 0.3s, transform 0.2s, background-color 0.5s;
                cursor: pointer;
                &:hover {
                    color: black;
                    background-color: $primary-color;
                    transform:scale(1.1);
                }
            }

            a {
                text-decoration: none;
                color: black;
                &:hover {
                text-decoration: underline;
                }
            }
        }
    }
    .image {
        flex:1;
        img {
            width: 100%;
            height:100%;
            object-fit: cover;
        }
    }
}

#signup {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 2rem; 
    .form {
      flex: 1;
        h2 {
            margin-bottom: 1rem;
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 10rem;
            align-items:center;
            label {
            margin-bottom: 0.5rem;
            }
    
            input[type="text"],
            input[type="password"] {
                border: none;
                border-bottom: 2px solid #eee;
                background: none;
                padding: 10px;
                width:100%;
                transition: .2s;
                &:hover, &:focus, &:active {
                    outline: none;
                    border-bottom-color:darken($secondary-color,10%);
                }
            }
    
            input[type="submit"] {
                background-color: black;
                color: $background-color;
                border: none;
                border-radius: 3rem;
                padding: 1rem 2rem;
                font-size: 1rem;
                transition: color 0.3s, transform 0.2s, background-color 0.5s;
                cursor: pointer;
                &:hover {
                    color: black;
                    background-color: $primary-color;
                    transform:scale(1.1);
                }
            }

            a {
                text-decoration: none;
                color: black;
                &:hover {
                text-decoration: underline;
                }
            }
        }
    }
    .image {
        flex:1;
        img {
            width: 100%;
            height:100%;
            object-fit: cover;
        }
    }
}