$background-color: #f0f0f0;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$login-btn-background-color: #1da1f2;
$login-btn-text-color: white;

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
}

.login-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px $box-shadow-color;
  width: 300px;
  form {
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-sizing: border-box;
    }
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      background-color: $login-btn-background-color;
      color: $login-btn-text-color;
      cursor: pointer;
    }
  }
}

.signup-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px $box-shadow-color;
    width: 300px; 
    form {
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box; 
      }
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: $login-btn-background-color;
        color: $login-btn-text-color;
        cursor: pointer;
      }
    }
}

a {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: #1da1f2;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }